doctype html
html
  head
    title Form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css')
  body
    .container
      ul.nav.nav-pills
        li.active
          a(data-toggle='pill', href='#form') form
        li
          a(data-toggle='pill', href='#list') list
        li
         a( href='/logout') logOut
    .container
      .tab-content
        #form.tab-pane.fade.in.active
          form(action='/form', method='post',enctype="multipart/form-data")
            h3 candidate sign In
            input(type='text', placeholder='username', name='username')
            br
            br
            input(type='email', placeholder='mail', name='mail')
            br
            br
            input(type='input', placeholder='rollno', name='Rollno')
            br
            br
            input(type='password', placeholder='password', name='password')
            br
            br
            input(type='file',name='image',required='')
            br
            br 
            input(type='submit', value='form')
        #list.tab-pane.fade
          br
          br
          table#example(style='width:100%')
            thead
              tr
                th Profile
                th Name
                th Email
                th Rollno
                th Password
                th Action
            tbody
              each member in data
                tr
                  td 
                    img(src="images/"+member.img,height="50",width="50")
                  td #{member.username}
                  td #{member.mail}
                  td #{member.rollno}
                  td #{member.password} 
                  td
                    button(value=member.rollno).btn.btn-info.edit Edit 
                    button(value=member.rollno).btn.btn-danger.remove Remove
                    .dontshow
            form(action='/update', method='post')
              h3 candidate sign In
            input(type='text', placeholder='username', name='username')
            br
            br
            input(type='email', placeholder='mail', name='mail')
            br
            br
            input(type='input', placeholder='rollno', name='Rollno')
            br
            br
            input(type='password', placeholder='password', name='password')
            br
            br
            input(type='file',name='image',required='')
            br
            br 
            input(type='submit', value='form')
    script(src="javascripts/table.js")
    script(src="javascripts/edit.js")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js")
    script(src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")
    script(src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js")
